<div class="recommended_items">
<div class="container">
  <img
  id="letra"
  src="../../../../assets/images/product-details/letra.png"
  alt=""
>
</div>
  <div class="card-post">
    <div class="card-image">
      <img
        src="../../../../assets/images/home/recommended-items/1.png"
        alt=""
      />
    </div>
    <div class="card-info">
      <h1 class="card-title">Impacto Economico.</h1>
      <p class="card-text1">
        Baby Wood Costa Rica, cumple de manera efectiva con la legislación aplicable a su actividad productiva.
         De esta forma, asegura la contribución al estado mediante el pago de impuestos y brindando garantías de 
         seguridad social para sus colaboradores. Asimismo, cuenta con una política de apoyo a proveedores
          locales, con lo cual incentiva la reactivación económica.
      </p>
      <button class="btn">Contactenos</button>
    </div>
  </div>

  <div class="card-post">
    <div class="card-image">
      <img
        src="../../../../assets/images/home/recommended-items/3.png"
        alt=""
      />
    </div>
    <div class="card-info">
      <h1 class="card-title">Impacto Ambiental.</h1>
      <p class="card-text2">
        Baby Wood Costa Rica, dirige su operación bajo un enfoque de sostenibilidad en los
        diferentes eslabones de la cadena de valor (adquisición de materia prima, procesamiento y comercialización). 
        El modelo de negocio busca la sostenibilidad financiera, en armonía con el medio ambiente.
      </p>
      <button class="btn">Contactenos</button>
    </div>
  </div>

  <div class="card-post">
    <div class="card-image">
      <img
        src="../../../../assets/images/home/recommended-items/2.png"
        alt=""
      />
    </div>
    <div class="card-info">
      <h1 class="card-title">Impacto Social.</h1>
      <p class="card-text3">
        Baby Wood Costa Rica, identifica el impacto de su operación e implementa iniciativas estratégicas para el mejoramiento de la condición social de sus colaboradores. Adicionalmente, brinda apoyo mediante el desarrollo de acciones de responsabilidad social empresarial impulsadas por empresas e instituciones aliadas, ubicadas dentro de su área de influencia. 
        Su aporte se concentra en procesos de sensibilización y concienciación en torno a temas de sostenibilidad.
      </p>
      <button class="btn">Contactenos</button>
    </div>
  </div>
</div>
