<h2 class="title text-center">Triple Impacto</h2>

<div class="recommended_items">
<div class="card-post">
  <div class="card-image">
    <img src="../../../../assets/images/cart/newservice-1.png" />
  </div>
  <div class="card-info">
    <h1 class="card-title">This is some text within a card body.</h1>
    <p class="card-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
    <button class="btn btn-danger">Read more</button>
  </div>
</div>

<div class="card-post2">
  <div class="card-image">
    <img src="../../../../assets/images/cart/newservice-1.png" />
  </div>
  <div class="card-info">
    <h1 class="card-title">This is some text within a card body.</h1>
    <p class="card-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
    <button class="btn btn-danger">Read more</button>
  </div>
</div>

<div class="card-post">
  <div class="card-image">
    <img src="../../../../assets/images/cart/newservice-1.png" />
  </div>
  <div class="card-info">
    <h1 class="card-title">This is some text within a card body.</h1>
    <p class="card-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
    <button class="btn btn-danger">Read more</button>
  </div>
</div>
</div>