<div class="recommended_items">
<div class="container">
</div>
  <div class="card-post">
    <div class="card-image">
      <img
        src="https://source.unsplash.com/random/200x200?sig=29"
        alt=""
      />
    </div>
    <div class="card-info">
      <h1 class="card-title">Impacto Economico.</h1>
      <p class="card-text1">
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo deleniti corporis harum a aut non vero, voluptate dolorem quasi nam ex! Tempore incidunt impedit dolore architecto tenetur laboriosam consequuntur temporibus?
      </p>
      <button class="btn">Contactenos</button>
    </div>
  </div>

  <div class="card-post">
    <div class="card-image">
      <img
        src="https://source.unsplash.com/random/200x200?sig=27"
        alt=""
      />
    </div>
    <div class="card-info">
      <h1 class="card-title">Impacto Ambiental.</h1>
      <p class="card-text2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime corrupti tempore non error natus. Explicabo rem esse vel. Quo pariatur eos ea. Beatae quos officiis, ea delectus nesciunt dolor facere!
      </p>
      <button class="btn">Contactenos</button>
    </div>
  </div>

  <div class="card-post">
    <div class="card-image">
      <img
        src="https://source.unsplash.com/random/200x200?sig=28"
        alt=""
      />
    </div>
    <div class="card-info">
      <h1 class="card-title">Impacto Social.</h1>
      <p class="card-text3">
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illum vel sapiente accusantium vero, consequuntur tempore enim unde iusto, error mollitia? Quam repellendus neque sit itaque nisi quibusdam earum sequi.
      </p>
      <button class="btn">Contactenos</button>
    </div>
  </div>
</div>
