.container{
    background-image: url("../../../../assets/images/blog/4.png");
		background-position: left center;
        background-size: cover;
        max-width: 1140px;
        background-repeat: no-repeat;
        overflow: hidden;
        margin-top: 30px;
}
.pass h3 {
    color:#336064;
}
.pass p {
    color:#c96a3c;
}
.row{
    margin-top: 10px;
}
.panel-body{
    background:#e8ddb5;
    color:#336064;
}
input{
    border: 1px solid #9f5832;
    border-radius: 50px;
}
input:focus {
    border-left: 8px solid #9f5832;
    border-right: 8px solid #9f5832;
  }
.btn{
    border-radius: 50px;
}
button:hover{
    background: #336064;
}