.container{
    background-image: url("../../../../assets/images/home/shipping.jpg");
		background-position: left center;
		background-size: 350px 400px;
        background-repeat: no-repeat;
}
.row{
    background-image: url("../../../../assets/images/home/product3.jpg");
		background-position: right center;
		background-size: 350px 400px;
        background-repeat: no-repeat;
        
}
.panel-body{
    background:#e8ddb5;
}
input{
    
    border-radius: 50px;
}

.btn{
    border-radius: 50px;
}
button:hover{
    background: #333333;
}