<div class="features_items">
  <h2 class="title text-center">Productos más destacados</h2>
  <div class="col-sm-4">
    <div class="product-image-wrapper">
      <div class="single-products">
          <div class="productinfo text-center">
            <img src="assets/images/home/producto1.jpeg" alt="" />
            <h2>$100</h2>
            <p>Mueble pequeño de cedro</p>
            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
          </div>
          <div class="product-overlay">
            <div class="overlay-content">
              <h2>$100</h2>
              <p>Mueble pequeño de cedro</p>
              <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
            </div>
          </div>
      </div>
      <div class="choose">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#"><i class="fa fa-heart"></i>Lista de deseo</a></li>
          <li><a href="#"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="product-image-wrapper">
      <div class="single-products">
        <div class="productinfo text-center">
          <img src="assets/images/home/producto2.jpg" alt="" />
          <h2>$1200</h2>
          <p>Escaleras hechas de guanacaste</p>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
        </div>
        <div class="product-overlay">
          <div class="overlay-content">
            <h2>$1200</h2>
            <p>Escaleras hechas de guanacaste</p>
            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
          </div>
        </div>
      </div>
      <div class="choose">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#"><i class="fa fa-heart"></i>Lista de deseo</a></li>
          <li><a href="#"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Porblema con esta imagen -->
  <div class="col-sm-4">
    <div class="product-image-wrapper">
      <div class="single-products">
        <div class="productinfo text-center">
          <img src="assets/images/home/product3.jpg" alt="" />
          <h2>$56</h2>
          <p>Easy Polo Black Edition</p>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
        </div>
        <div class="product-overlay">
          <div class="overlay-content">
            <h2>$56</h2>
            <p>Easy Polo Black Edition</p>
            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
          </div>
        </div>
      </div>
      <div class="choose">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#"><i class="fa fa-heart"></i>Lista de deseo</a></li>
          <li><a href="#"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="product-image-wrapper">
      <div class="single-products">
        <div class="productinfo text-center">
          <img src="assets/images/home/producto4.jpg" alt="" />
          <h2>$350</h2>
          <p>Cama matrimonial con respaldo</p>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
        </div>
        <div class="product-overlay">
          <div class="overlay-content">
            <h2>$350</h2>
            <p>Cama matrimonial con respaldo</p>
            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
          </div>
        </div>
        <img src="assets/images/home/new.png" class="new" alt="" />
      </div>
      <div class="choose">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#"><i class="fa fa-heart"></i>Lista de deseo</a></li>
          <li><a href="#"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="product-image-wrapper">
      <div class="single-products">
        <div class="productinfo text-center">
          <img src="assets/images/home/producto5.jpg" alt="" />
          <h2>$180</h2>
          <p>Escritorio sencillo</p>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
        </div>
        <div class="product-overlay">
          <div class="overlay-content">
            <h2>$180</h2>
            <p>Escritorio sencillo</p>
            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
          </div>
        </div>
        <img src="assets/images/home/sale.png" class="new" alt="" />
      </div>
      <div class="choose">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#"><i class="fa fa-heart"></i>Lista de deseo</a></li>
          <li><a href="#"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="product-image-wrapper">
      <div class="single-products">
        <div class="productinfo text-center">
          <img src="assets/images/home/producto6.jpg" alt="" />
          <h2>$96</h2>
          <p>Silla de madera de bebé</p>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
        </div>
        <div class="product-overlay">
          <div class="overlay-content">
            <h2>$96</h2>
            <p>Silla de madera de bebé</p>
            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
          </div>
        </div>
      </div>
      <div class="choose">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#"><i class="fa fa-heart"></i>Lista de deseo</a></li>
          <li><a href="#"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a></li>
        </ul>
      </div>
    </div>
  </div>
  
</div>