<a (click)="show()">Iniciar sesión</a>
<div
  [style.display]="showModal ? 'block' : 'none'"
  class="modal"
  id="imagemodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="bg"></div>

      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <img
            src="assets/images/home/logo2.png"
            alt="main image"
          />
        </div>

        <div class="form-group">
          <div class="label">
            <br /><br /><label for="">Correo Electronico:</label>

            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="  Correo Electronico"
              #email="ngModel"
              [(ngModel)]="client.email"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            />
          </div>

        </div>

        <div class="form-group">
          <div class="label">
            <label for="">Contraseña:</label>

            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="  Contraseña"
              #password="ngModel"
              [(ngModel)]="client.password"
              required
            />
          </div>
        </div>

        <div class="pass">
          <p
            id="contra"
            [routerLink]="['/restablecer-password']"
            (click)="hide()"
          >
            ¿Has olvidado tu contraseña?
          </p>
        </div>

        <div class="action-options">
          <input
            type="submit"
            value="Ingresar"
            class="btnLog"
            (click)="onSubmit()"
            [disabled]="loginForm.invalid"
          />
        </div>
      </form>

      <div class="modal-footer">
        <div class="btnsocial">
          <p class="social-text">Ingresa con una red social</p>
          <div class="social-media">
            <button class="social-icon" (click)="signInWithFB()">
              <img src="../../../../assets/images/icon/facebook.png" />
            </button>
            <button class="social-icon" (click)="signInWithGoogle()">
              <img src="../../../../assets/images/icon/google.png" />
            </button>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-dark"
          data-dismiss="modal"
          (click)="hide()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
