<footer id="footer">
    
    <div class="footer-widget">
      <div class="container">
            <img src="assets/images/home/3.png"  alt="" />
         
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="pull-left">Copyright © 2020 Baby Wood Inc. All rights reserved.</p>
          <p class="pull-right">RONALD GUERRERO <span><a target="_blank" href="">Baby Wood</a></span></p>
        </div>
      </div>
    </div>
    
  </footer>