<footer id="footer">
      
    <div id="contac_info" class="col-md-6">
      <div class="address">
        <img src="assets/images/home/contac_info.png" style=" width:100%;" alt="" />
      </div>
    </div>
    
    <div class="footer-widget">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <div class="single-widget">
              <h2>Servicios</h2>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Ayuda en linea</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Seguir pedidos</a></li>
                <li><a href="#">Comentarios</a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="single-widget">
              <h2>Politicas</h2>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Terminos de uso</a></li>
                <li><a href="#">Politicas de privacidad</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="single-widget">
              <h2>Sobre la Tienda</h2>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Información de nuestra empresa</a></li> 
                <li><a href="#">Ubicación</a></li>
                <li><a href="#">Unete a nuestra familia</a></li>
                <li><a href="#">Copyright</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="pull-left">Copyright © 2020 Baby Wood Inc. All rights reserved.</p>
          <p class="pull-right">RONALD GUERRERO <span><a target="_blank" href="">Baby Wood</a></span></p>
        </div>
      </div>
    </div>
    
  </footer>