<footer id="footer">

  <div id="contac_info" class="col-md-6">
    <div class="address">
      <img src="assets/images/home/foot-4.png" style=" width:100%;" alt="" />
    </div>
  </div>

  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="single-widget">
            <h2>Servicios</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">Ayuda en linea</a></li>
              <li><a href="#">Contactanos</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="single-widget">
            <h2>Politicas</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#">Terminos de uso</a></li>
              <li><a href="#">Politicas de privacidad</a></li>
            </ul>
          </div>
        </div>

        <img id="logo2" src="assets/images/home/logo2.png" width="550px" alt="" />
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="pull-left">Copyright © 2021 Guana Muebles Inc. All rights reserved.</p>
          <p class="pull-right">Elvin Gonzalez <span><a target="_blank" href="https://github.com/elvinlab">GitHub</a></span></p>
        </div>
      </div>
    </div>
  </div>
  </footer>
