h3{
    background: #336064;
    color: white;
    font-size:34px;
}

.form-group{
    margin-left: 65px;
}
.form-group input{
    width: 70%;
    background: transparent;
    border-radius: 25px;
    border-bottom: 3px solid #336064;
}
.form-group input:focus{
    border-left: 8px solid #336064;
  }
.btn{
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}
.btn:hover{
   color: white;
   background-color: #336064;
}