@import url('https://fonts.cdnfonts.com/css/gotham-rounded');

#slider {
  padding-top: 4px;
  margin-left: -15px;
}
.carousel-indicators {
  bottom: 30px;
}
.carousel-indicators li {
  background: #c4c4be;
}

.carousel-indicators li.active {
  background: #9f5832;
}

.item {
  padding-top: 10px;
  height: 100%;
  min-height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 70px;
  right: -650px;
}

.girl {
  margin-left: 0;
}

.item h1 {
  color: white;
  font-family: "Gotham Rounded";
  font-size: 48px;
  margin-top: 115px;
}

.item h2 {
  color: white;
  font-family: "Gotham Rounded";
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
  margin-top: 10px;
}

.item p {
  width: 75%;
  margin: auto;
  color: white;
  font-size: 18px;
  line-height: 1.9;
}

.btn {
  border: 0 none;
  border-radius: 0;
  color: white;
  font-family:"Gotham Rounded";
  font-size: 16px;
  font-weight: 300;
  margin-top: 23px;
}
.btn-green {
  background-color: #859456;
  font-weight: bold;
}
.btn-orange {
  background-color: #c96a3c;
  font-weight: bold;
}
.btn-arena {
  background-color: #e8ddb5;
  color: #9c5233;
  font-weight: bold;
}
.btn-blue {
  background-color: #336064;
  font-weight: bold;
}
.btn-brown {
  background-color: #9c5233;
  font-weight: bold;
}

.item button:hover {
  background: #9f5832;
  color: white;
}

.control-carousel {
  position: absolute;
  top: 50%;
  font-size: 60px;
  color: #c2c2c1;
}

.control-carousel:hover {
  color: #9f5832;
}

.right {
  right: 0;
}

@media (max-width: 480px) {
  .item {
    min-height: 250px;

  }
  .item img{
    height: 170px;
    width: auto;
  }
  .btn {
    margin-bottom: -70px;
    float: left;
  }
  .carousel-indicators {
    bottom: 30px;
    margin-left: 13px;
  }
  }
