  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img id="nav-logo" src="assets/images/home/nav-logo.png" alt="" />
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li><a ><i class="fa fa-user"></i> Cuenta </a></li>
              <li><a href="#"><i class="fa fa-heart"></i> Lista de deseos </a></li>
              <li><a href="#"><i class="fa fa-crosshairs"></i> Pedido </a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i> Carrito </a></li>
              <li><a [routerLink]="['/registro-cliente']" ><i class="fa fa-sign-in"></i> Registrate</a></li>
              <li><a ><i class="fa fa-lock"></i> <app-login-client></app-login-client> </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

