  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h2>Guana Muebles (logo) </h2>
        </div>
        <div>
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li><a href="#"><i class="fa fa-heart"></i> Lista de deseos </a></li>
              <li><a href="#"><i class="fa fa-crosshairs"></i> Pedido </a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i> Carrito </a></li>

            </ul>
          </div>
          <form class="navbar-form navbar-left search_box" role="search">
            <div >
              <input type="text" class="form-control" (click)="goProducts()" placeholder="Buscar producto">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

