
<div class="container">
<div class="about-section">
    <div class="inner-container">
        <h1>Nuestro Proposito</h1>
        <p class="text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque eligendi quo hic consequuntur, cum voluptatibus doloribus aliquid ad quos voluptates iste iusto excepturi nihil alias obcaecati. Assumenda doloremque aspernatur debitis.
        </p>
    </div>
    
</div>
<div class="about-section2">
    <div class="inner-container2">
        <h1>¿Cómo lo hacemos?</h1>
        <p class="text">
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde laudantium pariatur tenetur excepturi? Corporis nesciunt porro reprehenderit ipsa eligendi inventore nostrum adipisci, qui doloribus libero repellendus, tempora incidunt nisi voluptatibus.
        </p>
    </div>
    
</div>
<!--
<div class="skills">
    <button>Misión</button>
    <button>Visión</button>
    <button>Valores</button>
</div>-->
</div>