
<div class="container">
<div class="about-section">
    <div class="inner-container">
        <h1>Nuestro Proposito</h1>
        <p class="text">
            Hacer realidad sueños, ideas y proyectos en madera.
            Soluciones para el hogar y para toda la familia. En el
            camino, hemos contado con el apoyo de nuestra familia,
            equipo de trabajo y nuestros clientes.
            Cada proyecto es una bendición y cada día una
            oportunidad para dar nuestro mejor esfuerzo.
        </p>
    </div>
    
</div>
<div class="about-section2">
    <div class="inner-container2">
        <h1>¿Cómo lo hacemos?</h1>
        <p class="text">
            Con amor, dedicación y compromiso por la calidad.
            El proyecto crece por la gracia de DIOS.
        </p>
    </div>
    
</div>
<!--
<div class="skills">
    <button>Misión</button>
    <button>Visión</button>
    <button>Valores</button>
</div>-->
</div>