<div class="container">
<div class="header-bottom">

    <div class="row">
      <div class="col-sm-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" id="bar1"></span>
            <span class="icon-bar" id="bar2"></span>
            <span class="icon-bar" id="bar3"></span>
          </button>
        </div>
        <div class="mainmenu pull-left">
          <ul class="nav navbar-nav collapse navbar-collapse">
            <li><a href="#" class="active">Inicio</a></li>
            
            <li><a href="#">¿Quiénes somos?</a></li>

            <li class="dropdown"><a href="#">Tienda<i class="fa fa-angle-down"></i></a>
              <ul role="menu" class="sub-menu">
                <li><a href="#">Productos</a></li>
                <li><a href="#">Detalle de Productos</a></li>
              </ul>
            </li>

            <li class="dropdown"><a href="#">Promociones<i class="fa fa-angle-down"></i></a>
              <ul role="menu" class="sub-menu">
                <li><a href="#">Manual</a></li>
                <li><a href="#">Ayuda</a></li>
              </ul>
            </li>

            <li class="dropdown"><a href="#">Nuevos servicios<i class="fa fa-angle-down"></i></a>
              <ul role="menu" class="sub-menu">
                <li><a href="#">Convenio empresarial</a></li>
                <li><a href="#">Diseño de muebles y espacios</a></li>
                <li><a href="#">Consultoria forestal</a></li>
              </ul>
            </li>
            
            <li><a href="#">Cotización</a></li>
            <li><a href="#">Contacto</a></li>
            

          </ul>
        </div>
      </div>
    </div>

</div>

</div>
