<div class="container">
<div class="forms-container">
  <div class="signin-signup">

    <form class="sign-up-form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <h2 class="titles">Registrarse</h2>
      
      <div class="register-container">
      <div class="form-row ">
        <div class="form-group ">
          <label class="txt font-weight-bold">Nombre <span class="text-danger">*</span></label>
          <input type="text" name="name" class="input-50" placeholder="Ingrese su nombre" maxlength="30" #name="ngModel"
            [(ngModel)]="client.name" required pattern="[a-zA-Z]+">

          <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block text-danger">
            El nombre no es válido
          </small>
        </div>

        <div class="form-group">
          <label class="txt font-weight-bold">Apellido <span class="text-danger">*</span></label>
          <input type="text" name="surname" maxlength="30" placeholder="Ingrese su Apellido" class="input-50"
            #surname="ngModel" [(ngModel)]="client.surname" required pattern="[a-zA-Z]+">

          <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block text-danger">
            Los apellidos no son validos
          </small>
        </div>

      </div>


      <div>
        <label  class="txt" for="email">Email<span class="text-danger">*</span></label>
        <input type="email" name="email" class="input-100" #email="ngModel" [(ngModel)]="client.email" required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block text-danger">
          El correo no es válido
        </small>
      </div>

      <div>
        <label class="txt" for="password">Contraseña<span class="text-danger">*</span></label>
        <input type="password" name="password" class="input-100" #password="ngModel" [(ngModel)]="client.password"
          required>

        <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block text-danger">
          La contraseña no es válida
        </small>
      </div>

      </div>
      <!--	
		<div>
			<label for="phone">Telefono</label>
			<input type="text" name="phone" class="input-100" maxlength="30" #phone="ngModel" [(ngModel)]="client.phone"
				required pattern="[0-9]+">

			<small *ngIf="!phone.valid && phone.touched" class="invalid-feedback d-block">
				Numero de telefono requerido
			</small>
		</div>
		<div>
			<label for="address">Direccion fisica</label>
			<input type="text" name="address" class="form-control" #address="ngModel" [(ngModel)]="client.address"
				required>

			<small *ngIf="!address.valid && address.touched" class="invalid-feedback d-block">
				Direccion requerida
			</small>
    </div> -->
    
      <input type="submit" value="Registrate" class="btn width-100 " [disabled]="registerForm.invalid" />
    
      <p class="social-text">Registrate con una red social</p>
      <div class="social-media">
        <button class="social-icon" (click)="signInWithFB()">
          <img src="../../../../assets/images/icon/facebook.png">
        </button>
      <button class="social-icon" (click)="signInWithGoogle()">
        <img src="../../../../assets/images/icon/google.png">
      </button>
      </div>

    </form>
  </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h2>¿No te has registrado?</h2>
        <p>
          Unete a la familia Baby Wood y se parte de nuestra comunidad, que estas esperando!
        </p>
      </div>
      <img src="../../../../assets/images/icon/fondo-reg.jpg" class="image" alt="" />
  </div>
</div>


<div id="loading1" style="display: none; color: rebeccapurple;" *ngIf="loading">
	<h4 class="modal-title"  >Espere un momento</h4>
	
  <div class="sk-fading-circle">
	<div class="sk-circle1 sk-circle"></div>
	<div class="sk-circle2 sk-circle"></div>
	<div class="sk-circle3 sk-circle"></div>
	<div class="sk-circle4 sk-circle"></div>
	<div class="sk-circle5 sk-circle"></div>
	<div class="sk-circle6 sk-circle"></div>
	<div class="sk-circle7 sk-circle"></div>
	<div class="sk-circle8 sk-circle"></div>
	<div class="sk-circle9 sk-circle"></div>
	<div class="sk-circle10 sk-circle"></div>
	<div class="sk-circle11 sk-circle"></div>
	<div class="sk-circle12 sk-circle"></div>
  </div>
</div>
